<div class="contacts">

    <h1>Leave your contacts</h1>

    <form>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Leave your message</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Enter</button>
    </form>
    
</div>